[submodule "lizmap-documentation"]
	path = lizmap-documentation
	url = https://github.com/3liz/lizmap-documentation
[submodule "manuale_geoportale_concerteaux"]
	path = manuale_geoportale_concerteaux
	url = https://github.com/gtergeomatica/manuale_geoportale_concerteaux
